@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    min-height: 100vh;
    max-height: fit-content;
    background-color: #252525;
}