@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

body {
    min-height: 100vh;
    max-height: fit-content;
    background-color: #252525;
}


#hero{
    display: flex;
    padding: 0px 100px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(./assets/background.png);
}